<!doctype html>
<html lang="en">
<head>
    <%-include('./partials/head'); %>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <%-include('./partials/navbar') %>
<form method="POST" action="/admin/movie">
    <div class="card">
        <div class="card-header">
            Add movie
        </div>
        <div class="card-body">
            <input placeholder="name" name="name">
            <input placeholder="poster" name="poster">
            <input placeholder="trailer" name="url">
            <input placeholder="country" name="country">
            <input placeholder="year" name="year">
            <input placeholder="genre" name="genre">
            <input placeholder="imdb" name="imdb">



            <button class="btn btn-primary btn-block" type="submit">Add</button>
        </div>
    </div>
</form>

<form method="POST" action="/admin/movies">
    <div class="card">
        <div class="card-header">
            Find movie
        </div>
        <div class="card-body">
            <input placeholder="name" name="name">

            <button class="btn btn-primary btn-block" type="submit">Find</button>
        </div>
    </div>
</form>


    <form method="POST" action="/admin/movie?_method=DELETE">
        <div class="card">
            <div class="card-header">
                Delete movie
            </div>
            <div class="card-body">
                <input placeholder="name" name="name">
                <input placeholder="year" name="year">

                <button class="btn btn-primary btn-block" type="submit">Delete</button>
            </div>
        </div>
    </form>

</body>
</html>