<!doctype html>
<html lang="en">
<head>
    <%-include('./partials/head'); %>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="login-page container">
<main>
    <div class="login-block">
        <h2>Введите аккаунт который хотите удалить</h2>
        <form method="POST" action="/delete">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
                    <input type="text" class="form-control" name="username" placeholder="">
                </div>
            </div>

            <button class="btn btn-primary btn-block" type="submit">Удалить</button>

        </form>
    </div>

</main>

</body>
</html>