<!doctype html>
<html lang="en">
<head>
<%-include('./partials/head'); %>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<%-include('./partials/navbar') %>
<a href="/anime">Chinese cartoon</a>
<a href="/serials">Detective</a>
<a href="/anime" >Comedy</a>
</div>
</body>
</html>