<!doctype html>
<html lang="en">
<head>
<%-include('./partials/head'); %>
    <link rel="stylesheet" href="index.css">
</head>
<body>
<%-include('./partials/navbar') %>
<div class="container"><h1 style="text-align: center">Выбери свой жанр</h1></div>

<div style="margin-top: 40px" class="container">
    <div class="row">
        <div class="col">
            <a href="/serials">
                <div style="text-align: center" class="col"><img class="imag " src="https://www.vokrug.tv/pic/product/3/e/c/2/3ec203454f9e8e66d149b965f7722a98.jpg"></div>
            </a>
        </div>
        <div class="col">
            <a href="/serials">
                <div style="text-align: center" class="col"><img class="imag " src="https://thumbs.dfs.ivi.ru/storage31/contents/d/6/0a3dac8525f8b71f5e24efa683e62c.jpg"></div>
            </a>
        </div>
        <div class="col">
            <a href="/serials">
                <div style="text-align: center" class="col"><img class="imag " src="https://i.pinimg.com/550x/a5/ae/45/a5ae453bd128cdd2af6cd5c6bcbb0c84.jpg"></div>
            </a>
        </div>
    </div>
</div>


</body>
</html>