
*{
    max-width: 1920px;
}
.image{
    width: 90%;
    height:90%;
}

.movies {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.movie {
    width: 240px;
    margin: 10px;
    position: relative;
}

.movie__cover-inner {
    position: relative;
    height: 360px;
}

.movie__cover {
    max-width: 100%;
    height: 100%;
}

.movie__cover--darkened {
    background-color: #000000;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    height: 100%;
    z-index: 1;
}

.movie__cover--darkened:hover {
    background-color: grey;
    cursor: pointer;
}

.movie__info {
    padding: 10px 0px;
}

.movie__title {
    font-size: 16px;
    color: black;
}

.movie__category {
    font-size: 14px;
    color: gray;
}


.login-block
{
    background-color:#fff;
    padding:60px;
    -webkit-box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    box-shadow:0 3px 50px 0 rgba(0,0,0,.1);
    text-align:center;
    border-radius:5px
}
.login-block h*,.login-block h6
{
    font-family:Open Sans,sans-serif;
    color:#96a2b2;
    letter-spacing:1px
}
.login-block h*
{
    font-size:22px;
    margin-bottom:60px;
    margin-top:40px
}


.login-block .input-group-addon
{
    color:#29aafe;
    font-size:19px;
    opacity:.5
}
.login-block .btn-block
{
    margin-top:30px;
    padding:15px;
    background:#29aafe;
    border-color:#29aafe;
}
.login-block .hr-xs
{
    margin-top:5px;
    margin-bottom:5px
}

.login-page{
    width: 40%;
    padding-top:10%;
}
.fav{
    width: 62px;
}

.mainSection{
    margin: 0px 100px;
    padding: 0 2rem;
}

.mainFilmImg{
    width: 25%;
    height: 25%;
    border: 2px solid black;
    float: left;
    margin-right: 20px;
}